

input {
  	width: 100%;
}

input[type=text] {
	width: 70%;
  	padding: 12px 20px;
  	margin: 8px 0;
 	box-sizing: border-box;
	transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  	border: 3px solid #555;
	width: 100%;
}

button {
  	background-color: #4CAF50;
  	border: none;
  	color: white;
  	padding: 16px 32px;
  	text-decoration: none;
  	margin: 4px 2px;
  	cursor: pointer;
}
